:root {
  --color-dormir: #ffb114;
  --color-comer: #ffcf1d;
  --color-ejercicio: #acc34a;
  --color-clarinete: #f53639;
  --color-piano: #e91eb0;
  --color-clases: #9c27b0;
  --color-productivo: #673ab7;
  --color-social: #036ef4;
  --color-leer: #50afed;
  --color-ocio: #009689;
  --color-transporte: #785248;

  --color-dormir2: #fcd589;
  --color-comer2: #ffe895;
  --color-ejercicio2: #d5e496;
  --color-clarinete2: #f09193;
  --color-piano2: #ec89d0;
  --color-clases2: #ae7ab8;
  --color-productivo2: #9981c4;
  --color-social2: #7db4f8;
  --color-leer2: #99ccee;
  --color-ocio2: #70afaa;
  --color-transporte2: #a7918c;
}

html, body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
}

#loader {
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem;
    color: #555;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background: #fafbfd;
}

* {
    box-sizing: border-box;
}

.text-node { background-clip: text !important; -webkit-background-clip: text !important; }

/* Board */
.main-board {
    position: relative;
    margin-top: 2%;
    width: 96%;

    background: #dbeafe;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    align-items: start;
    align-content: start;
    justify-items: center;
    justify-content: center;
    gap: 15px 5px;
    padding: 16px 6px 16px 6px;
    /*flex-grow: 1;*/
    /*grid-template-rows: auto auto auto auto;*/
    grid-template-columns: 1fr 1fr;
}

.second-board {
    margin-top: 3%;
    width: 100%;
    max-height: 31rem;
    border-radius: 0px;
    overflow: hidden;
    display: grid;
    align-items: start;
    align-content: start;
    justify-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 15px 8px 15px;
    flex-grow: 1;
    grid-template-columns: 1fr 1fr;
}

.second-board-events {
    position: relative;
    width: 100%;
    
    background: #dbeafe;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: start;
    gap: 10px;
    padding: 10px 0px 10px 0px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.second-board-tasks {
    position: relative;
    width: 100%;
    
    padding: 10px 0px 10px 0px;
    background: #dbeafe;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: start;
    gap: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
}

.event-item {
    position: relative;
    width: 96%;
    height: 4.8rem;
    font-size: 1.5rem;;
    border-radius: 14px;
    padding: 0% 5%;
    background: #ffbcbc;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.task-item {
    position: relative;
    width: 96%;
    height: 4.5rem;
    font-size: 1.3rem;;
    border-radius: 14px;
    padding: 0% 5%;
    background: #94e498;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Board */
.pill-board {
    /*position: relative;*/
    width: 95%;
    height: 75px;
    background: #FFFFFFFF;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* Board */
.pill-timers-board {
    position: relative;
    width: 30%;
    height: 100%;
    background: #9a9a9aFF;
    border-radius: 0px 0px 0px 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

/* Board */
.pill-timers-down-board {
    position: relative;
    width: 100%;
    background: #b4cceb;
    border-radius: 0px 0px 0px 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
    align-self: center;
}

/* Board */
.pill-timers-up-board {
    position: relative;
    width: 100%;
    background: #fdfeff;
    border-radius: 0px 0px 0px 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
    align-self: center;
}

/* Board */
.pill-text-board {
    position: relative;
    height: 100%;
    background: #d8d8d8FF;
    border-radius: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    padding: 2px 0px 2px 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
}

.pill-text {
    font-size: 2em;
}
.pill-timers-text {
    font-size: 1.4em;
}

.date-board {
    width: 27%;
    height: 5rem;
    border-radius: 0px 0px 0px 0px;
    overflow: hidden;
    display: flex;
    align-content: stretch;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-shrink: 0;
    padding: 0px;
}

.date-board-up {
    justify-content: center;
    width: 100%;
    height: 50%;
    align-items: center;
    display: flex;
    font-size: 1.2rem;
}

.date-board-down {
    position: relative;
    width: 100%;
    height: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    gap: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0px 25px;
}

.date-item {
    width: 30px;
    height: 25px;
    position: relative;
    border: 2px solid rgb(155, 155, 155);
    color: rgb(155, 155, 155);
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.date-marked-passed {
    border: 2px solid #080808;
    color: #000;
    justify-content: center;
}

.date-marked-current {
    border: 3px solid #8f2105;
    color: #8f2105;
    font-weight: bold;
    justify-content: center;
}

@media screen and (orientation: landscape) {
    .main-board {
        margin-top: 3%;
        width: 92%;
        max-height: 20rem;
        background: #b8cdffFF;
        border-radius: 10px;
        overflow: hidden;
        display: grid;
        align-items: start;
        align-content: start;
        justify-items: center;
        justify-content: center;
        gap: 15px 5px;
        padding: 10px 6px 8px 6px;
        flex-grow: 1;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr 1fr;
    }

    .pill-board {
        /*position: relative;*/
        width: 95%;
        height: 3vw;
        background: #FFFFFFFF;
        border-radius: 4px;
        overflow: hidden;
        display: flex;
        align-items: center;
        align-content: stretch;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .pill-text {
        font-size: 1.5em;
    }
    .pill-timers-text {
        font-size: .9em;
    }
}

.invisible {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.invisible2 {
    display: none;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.dormir {
    background: var(--color-dormir);
}
.comer {
    background: var(--color-comer);
}
.ejercicio {
    background: var(--color-ejercicio);
}
.clarinete {
    background: var(--color-clarinete);
}
.piano {
    background: var(--color-piano);
}
.clases {
    background: var(--color-clases);
}
.productivo {
    background: var(--color-productivo);
}
.social {
    background: var(--color-social);
}
.leer {
    background: var(--color-leer);
}
.ocio {
    background: var(--color-ocio);
}
.transporte {
    background: var(--color-transporte);
}

.dormir2 {
    background: var(--color-dormir2);
}
.comer2 {
    background: var(--color-comer2);
}
.ejercicio2 {
    background: var(--color-ejercicio2);
}
.clarinete2 {
    background: var(--color-clarinete2);
}
.piano2 {
    background: var(--color-piano2);
}
.clases2 {
    background: var(--color-clases2);
}
.productivo2 {
    background: var(--color-productivo2);
}
.social2 {
    background: var(--color-social2);
}
.leer2 {
    background: var(--color-leer2);
}
.ocio2 {
    background: var(--color-ocio2);
}
.transporte2 {
    background: var(--color-transporte2);
}

